a {
  color: #000000;
  text-decoration: none;
}
li {
  list-style: none;
}
.flex__item {
  display: flex;
  justify-content: space-between;
}
.flex__item2 {
  display: flex;
}

/*--------------------- header--------------------- */
.header {
  height: 70px;
  padding-top: 6px;
  position: fixed;
  background: white;
  top: 0;
  width: 100%;
  z-index: 10000;
}
.header__logo {
  width: 70px;
  margin-left: 30px;
  margin-top: 18px;
}
.header__img {
  width: 100%;
  height: auto;
}
.header__nav {
  margin-right: 25px;
}
.header__nav-list li {
  margin-right: 30px;
  font-weight: bold;
}
.header__nav-list li:last-child {
  margin-right: 10px;
}
.header__nav-list-link {
  height: 70px;
  display: inline-block;
}
/*--------------------- header--------------------- */


/*---------------------- main---------------------- */
.firstview {
  position: relative;
}
.firstview__img {
  width: 100%;
  height: 380px;
  object-fit: cover;
}
.firstview__content {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.firstview__content-eyecatch {
  font-size: 30px;
}


.whiteblock {
  background: white;
  height: 70px;
  transform: translate(0, -75px);
}

.service_box {
  width: 85%;
  margin: auto;
}

.service_box1{
  background: white;
  width: 100%;
  margin: auto;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  padding: 20px 0;
  transform: translate(0,-70px);
}
.img {
  width: 300px;
}
.img_load{
  width: 100%;
}

.text {
  padding-left: 38px;
  transform: translate(0, -18px);
}
.text1 {
  font-size: 16px;
}
.text2 {
  font-weight: bold;
  font-size: 24px;
}

.service_box2{
  background: white;
  width: 100%;
  margin: auto;
  border-bottom: 1px solid #000000;
  padding: 20px 0;
  transform: translate(0,-70px);
}
